html {
  font-size: 62.5%;
}
.btn {
  border-radius: 5px;
  padding: 1rem;
  border: none;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: active 0.2s;
}
.btn:active {
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.5);
}
.sub-ms {
  background-color: #20cc82;
  color: #ffffff;
  border: 1px solid #127048;
  margin-right: 1.5rem;
}
.sub-ms:hover,
.sub-ms:active {
  background-color: #127048;
  border: 1px solid #20cc82;
}
.unsub-ms {
  background-color: #ed4f32;
  color: #ffffff;
  border: 1px solid #963523;
}
.unsub-ms:hover,
.unsub-ms:active {
  background-color: #963523;
  border: 1px solid #ed4f32;
}
.fire-event {
  background-color: #48dbfb;
  color: #2f889c;
  border: 1px solid #2f889c;
}
.fire-event:hover,
.fire-event:active {
  background-color: #2f889c;
  color: #48dbfb;
  border: 1px solid #48dbfb;
}
