html {
  font-size: 62.5%;
}
.btn {
  border-radius: 5px;
  padding: 1rem;
  border: none;
}
.sub-ms {
  background-color: #20cc82;
  color: #ffffff;
  border: 1px solid #127048;
}
.unsub-ms {
  background-color: #ed4f32;
  color: #ffffff;
  border: 1px solid #963523;
}
.fire-event {
  background-color: #48dbfb;
  color: #ffffff;
  border: 1px solid #2f889c;
}
