html {
  font-size: 62.5%;
}
.btn {
  border-radius: 5px;
  padding: 1rem;
  border: none;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: active 0.2s;
}
.btn:active {
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.5);
}
.sub-ms {
  background-color: #20cc82;
  color: #ffffff;
  border: 1px solid #127048;
}
.unsub-ms {
  background-color: #ed4f32;
  color: #ffffff;
  border: 1px solid #963523;
}
.fire-event {
  background-color: #48dbfb;
  color: #ffffff;
  border: 1px solid #2f889c;
}
